<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fndroid.dao.IBinlogDao">
    <select id="getBinlogs" resultType="com.fndroid.entity.Binlog">
        select * from t_binlog_corrupt_file
    </select>

    <select id="getBinlog" resultType="com.fndroid.entity.Binlog" parameterType="Integer">
        select * from t_binlog_corrupt_file where id = #{id}
    </select>
</mapper>